:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

#app p {
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: moveUp 3s ease-out forwards;
}

span {
  background: url("https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/flame-256.png");
  width: 100px;
  height: 100px;
  position: absolute;
  background-size: cover;
  pointer-events: none;
  animation: animate 6s ease-in-out;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: hue-rotate(0);
  }
  
  100% {
    transform: translate(-50%, -5000%);
    opacity: 0;
    filter: hue-rotate(720deg);
  }

}

@keyframes moveUp {
  0% {
    top: 50%;
    opacity: 1;
  }
  100% {
    top: 10%;
    opacity: 0;
  }
}

@media screen and (min-width: 425px) {
  #app p {
    font-size: 36px;
  }
}